<div class="drag-element">
    <!-- Boyutlandırılacak elementiniz -->
    <!-- xmlnsfarklı XML tabanlı diller arasındaki etiket çakışmaları önler -->
    <svg width=100% height=100% viewBox="0 0 400 400" xmlns="http://www.w3.org/2000/svg">
        <defs>
            <!-- Burada yuvarlak yolu tanımlıyoruz. -->
            <path id="circlePathCanvas" transform="rotate(90 200 200)" d="M200,200 m-200,0 a200,200 0 1,0 400,0 a200,200 0 1,0 -400,0"></path>
        </defs>
        <path class="path-line" d="M212,200 m-200,0 a188,188 0 1,0 376,0 a188,188 0 1,0 -376,0"
              fill="none" stroke="white" stroke-opacity="0.2" stroke-width="2" />
        <text class="text-path" style="text-anchor: middle;">
            <!-- circlePathCanvas ID'sine sahip yolu kullanıyoruz -->
            <textPath xlink:href="#circlePathCanvas" startOffset="50%">Merhabaaaaa Circle!</textPath>
        </text>
    </svg>
    <i class="bi bi-arrows-angle-expand"></i>
    <i class="bi bi-trash"></i>
    <i class="bi bi-copy"></i>
    <i class="bi bi-arrow-repeat"></i>
</div>

<svg width="100%" height="100%" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
    <defs>
        <!-- Burada yuvarlak yolu tanımlıyoruz. -->
        <path id="circlePathCanvas" transform="rotate(90 300 300)" d="M300,300 m-300,0 a300,300 0 1,0 600,0 a300,300 0 1,0 -600,0"></path>
    </defs>
    <text class="text-path" style="text-anchor: middle;">
        <!-- circlePathCanvas ID'sine sahip yolu kullanıyoruz -->
        <textPath xlink:href="#circlePathCanvas" startOffset="50%">Merhabaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa Circle!</textPath>
    </text>
</svg>

<div class="row col-6">
    <div class="mb-3">
        <label id="TextEditor" class="form-label"></label>
    </div>
    <button id="editText" class="col-6">Edit</button>
    <button id="addText" class="col-6">Add</button>
</div>

<div class="TextEditor">
    <label id="TextEditorr" class="form-label"></label>
</div>